#include "common.xcconfig"

LIBRARY_SEARCH_PATHS[sdk=iphoneos*] = $(inherited) "$(SRCROOT)" "$(SOCKETROCKET_DIR)/build/Debug-iphoneos"
LIBRARY_SEARCH_PATHS[sdk=iphonesimulator*] = $(inherited) "$(SRCROOT)" "$(SOCKETROCKET_DIR)/build/Debug-iphonesimulator"

SERVER_HOST=192.168.0.240
SERVER_PORT=8081
SERVER_URL=$(SERVER_HOST):$(SERVER_PORT)
